<div class="row">

    <div class="page-head">
        <h1>Available Albums <small>Click on an album name to see stickers</small></h1>
    </div>

    <div class="row albums-container">
        <div class="col-md-4" data-ng-repeat="album in albums">
            <div class="thumbnail">
                <img src="{{ album.albumCoverFilePath }}" alt="{{ album.name }}" />
                <div class="caption">
                    <a href="#/albums/{{ album.albumID }}" class="btn btn-primary btn-block">{{ album.name }}</a>
                </div>
            </div>
        </div>
    </div>

</div>