<div class="row">

    <div class="jumbotron">
        <h1>Welcome to the Panini Album Manager</h1>
        <p>Please Login or Sign Up to start managing your albums.</p>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password or if you have a Facebook or Google account, click below.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create an account.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>