<div class="col-md-offset-2 col-md-8">

    <div class="panel panel-default">
        <div class="panel-heading">
            Missing Stickers
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a href="#/albums/{{ currentAlbumID }}" class="btn btn-primary">All Stickers</a>
                <a href="javascript: window.print()" class="btn btn-primary">Print</a>
            </div>
        </div>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-4">Sticker Number</th>
                    <th class="col-md-8">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="sticker in stickers">
                    <td>{{ sticker.albumSticker.stickerNumber }}</td>
                    <td>{{ sticker.albumSticker.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>