<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-3 control-label">Pick a Page from the Album</label>
        <div class="col-md-4">
            <select ng-model="currentPage" class="form-control">
                <option data-ng-repeat="page in albumPages" value="{{ page.pageID }}">{{ page.description }}</option>
            </select>
        </div>
    </div>
</form>

<div class="col-md-3" data-ng-repeat="sticker in stickers | filter: filterByPageID">
    <div class="thumbnail">
        <img ng-src="{{ sticker.have && sticker.albumSticker.stickerImageFilePath || 'content/images/albums/1/placeholder.png' }}" alt="{{ sticker.albumSticker.description }}" />
        <div class="caption">
            <h4>{{ sticker.albumSticker.description }}</h4>
            <label class="checkbox-inline">
                <input ng-model="sticker.have" type="checkbox" name="Have" id="Have" value="{{ sticker.have }}"> Have
            </label>
            <label class="checkbox-inline">
                <input ng-model="sticker.haveRepeated" type="checkbox" name="HaveRepeated" id="HaveRepeated" value="{{ sticker.haveRepeated }}"> Have Repeated
            </label>
        </div>
    </div>
</div>